@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(219, 240, 245);
  --foreground: #171717;
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --LighterLime: hsl(61, 84%, 83%);
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
}
